.inActiveRadio {
  background: #FFFFFF;
  border: 1px solid #928686;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  height: 45px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.activeRadio {
  font-size: 14px;
  color: #492922;
  letter-spacing: 0;
  line-height: 16px;
  border: 1px solid #928686;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  background: #F3CB03;
  height: 45px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.customRadioButton {
  display: none;
}

.customRadioButton+label {
  position: relative;
  margin-top: 5px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.customRadioButton+label:before {
  border-radius: 100%;
  display: inline-block;
  content: '';
  background: white;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: solid 1px black;
}

.customRadioButton:checked+label:before {
  background: url('../../assets/images/check.png') left top no-repeat;
  background-size: 15px 15px;
  display: block;
  border: none;
}

.customRadioButton:hover {
  cursor: pointer;
}

.topLeftBottomLeftBorder {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.topRightBottomRightBorder {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.topLeftTopRightBorder {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bottomLeftBottomRightBorder {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}